REST_COUNTRIES_API_KEY=
WEATHER_API_KEY=
WEATHER_API_URL=https://api.weatherapi.com/v1/current.json
OLLAMA_BASE_URL=http://127.0.0.1:11434
COUNTRIES_MCP_URL=http://127.0.0.1:8081
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=cdq_assistant
POSTGRES_USER=cdq
POSTGRES_PASSWORD=cdq
